@model MVCProject.Models.IndexViewModel
@using MVCProject.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <td>№ п/п</td>
        <td>Страна</td>
        <td>Город</td>
        <td>Улица</td>
        <td>Номер дома</td>
        <td>Индекс</td>
        <td>Дата и время</td>
    </tr>
    @foreach (var address in Model.Addreses)
    {
        <tr>
            <td><p>@address.Id</p></td>
            <td><p>@address.Country</p></td>
            <td><p>@address.City</p></td>
            <td><p>@address.Stereet</p></td>
            <td><p>@address.BuildingNumber</p></td>
            <td><p>@address.PostID</p></td>
            <td><p>@address.DateTime</p></td>
        </tr>
    }
</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageAddress, x => Url.Action("Index", new { page = x }))
</div>